* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

ul li {
  list-style: none;
}

a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

main {
  margin-top: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.hero h1,
.about h1 {
  text-align: center;
  font-size: 55px;
}
.hero p,
.about p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.intro h2 {
  font-size: 30px;
}
.intro p {
  font-size: 17px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.about ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-style: italic;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

footer {
  margin-bottom: 10px;
  margin: auto;
  max-width: 1000px;
}

.footer {
  text-align: center;
}

/* ===== Contact Form ===== */
.contact {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 10px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(97, 96, 96);
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  margin-top: 5px;
}

input,
textarea {
  padding: 10px 20px;
  padding-left: 5px;
  font-size: 15px;
  outline: none;
  border: 1px solid rgb(166, 163, 163);
  border-radius: 4px;
}
.btn {
  color: #ffffff;
  background-color: #333;
  font-size: 17px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(69, 68, 68);
  transition: 0.3s ease;
}

.contact-footer {
  font-size: 14px;
}


